<nav class="container navbar-desktop">
    <ul>
        <li><a href="/" class="brand"><strong>Electric</strong></a></li>
    </ul>
    <ul>
        {% if user %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/properties">Properties</a></li>
            <li><a href="/meters">Meters</a></li>
            <li><a href="/readings">Readings</a></li>
            <li>
                <details class="dropdown">
                    <summary>{{ user.username }}</summary>
                    <ul dir="rtl">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </details>
            </li>
        {% else %}
            <li><a href="/login" role="button">Login</a></li>
            <li><a href="/register" role="button" class="outline">Register</a></li>
        {% endif %}
    </ul>
</nav>
<nav class="container navbar-mobile">
    <ul>
        <li><a href="/" class="brand"><strong>Electric</strong></a></li>
    </ul>
    <ul>
        {% if user %}
            <li>
                <details class="dropdown">
                    <summary>{{ user.username }}</summary>
                    <ul dir="rtl">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/properties">Properties</a></li>
                        <li><a href="/meters">Meters</a></li>
                        <li><a href="/readings">Readings</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </details>
            </li>
        {% else %}
            <li><a href="/login" role="button" class="small">Login</a></li>
            <li><a href="/register" role="button" class="outline small">Register</a></li>
        {% endif %}
    </ul>
</nav>
